*{
    margin: 0;
    padding: 0;
}

.display1{
    background-color: #7656d9;
    height: 700px;
}
.child{
    text-align: center;
    padding: 30px;
    transition: 0.5s;
    margin: auto;
}
.child :hover{
   transform: scale(1);
}
.dtwo{
    display: flex;
    flex-wrap: wrap;
}
.dtwo :hover{
    background-color: lightskyblue;
}
.round{
    border-radius: 50%;
}
.second{
    text-align: center;
    padding: 30px;
    margin: auto;
}
.dthree{
    display: flex;
    flex-wrap: wrap;
}